html
{
	overflow-y: auto;
}
body
{
	background: #fff;
	font: 12px arial;
	text-align: center;
}
body,p,form,ul,li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
body,form,#fm
{
	position: relative;
}
td
{
	text-align: left;
}
img
{
	border: 0;
}
a
{
	color: #00c;
}
a:active
{
	color: #f60;
}
#u
{
	color: #999;
	padding: 4px 10px 5px 0;
	text-align: right;
}
#u a
{
	margin: 0 5px;
}
#u .reg
{
	margin: 0;
}
#m
{
	width: 680px;
	margin: 0 auto;
}
#fm
{
  padding-bottom: 30px;
	padding-left: 90px;
	text-align: left;
}
input
{
	border: 0;
	padding: 0;
}
#nv
{
	font-size: 14px;
	height: 19px;
	margin: 0 0 4px;
	text-align: center;
}
.s_ipt_wr
{
	background: url(i-1.0.0.png) no-repeat -304px 0;
	border: 1px solid #b6b6b6;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	display: inline-block;
	height: 30px;
	margin-right: 5px;
	vertical-align: top;
	width: 418px;
}
.s_ipt
{
	background: #fff;
	font: 16px/22px arial;
	height: 22px;
	margin: 5px 0 0 7px;
	outline: none;
	webkit-appearance: none;
	width: 405px;
}
.s_btn
{
	background: #ddd url(i-1.0.0.png);
	cursor: pointer;
	font-size: 14px;
	height: 32px;
	padding-top: 2px\9;
	width: 95px;
}
.s_btn_h
{
	background-position: -100px 0;
}
.s_btn_wr
{
	background: url(i-1.0.0.png) no-repeat -202px 0;
	display: inline-block;
	height: 34px;
	position: relative;
	vertical-align: top;
	width: 97px;
	z-index: 0;
}
#lg img
{
	margin-bottom: 3px;
	vertical-align: top;
}
.wbn{
  font-size: 32px;
  text-align: right;
  line-height: 115px;
  vertical-align: bottom;
}
#cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 23px;
  background: none;
}
